<!DOCTYPE html>
<html>
  <head>
    <title>Information about DSE</title>
    <%= favicon %>
    <%= javascript 'http://localhost:8080/faye.js' %>  <!--FIXME! ROMAN!-->
    <%= javascript 'https://code.jquery.com/jquery-3.1.0.min.js' %>

    <%= javascript 'index' %>
    <%= stylesheet 'index' %>
  </head>
  <body>
    <h1>An application for share business in Dhaka Stock Exchange </h1>
    <%= yield %>
  </body>
</html>
